<!-- Header if not logged in -->
<header ng-if="!main.loggedIn">
    <div class="headercontainer">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Schedule a mock interview </div>
                <div class="intro-heading">improve your chances of getting hired!</div>
                <a href="#jobseekers" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </div>
</header>

<!-- Header if logged in -->

<header ng-if="main.loggedIn">
    <div class="headercontainer">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Thank you for logging in </div>
                <div class="intro-heading">Schedule an interview now!</div>
                <a href="/schedule" class="page-scroll btn btn-xl">Schedule now</a>
                <a href="/editprofile" class="page-scroll btn btn-xl">Edit Your profile</a>
            </div>
        </div>
    </div>
</header>



<section id="jobseekers" ng-if="!main.loggedIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">For the jobseekers</h2>
                <h3 class="section-subheading text-muted">Not just a mock interview place!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse">
                            <img class="img-circle img-responsive" src="app/views/img/howto/getinterviewed.png" alt="">
                        </i>
                    </span>
                <h4 class="service-heading">Get Validated</h4>
                <p class="text-muted">Get your profile validated. Get assistance and support for resume building. Get feedback to improve your profile.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse">
                            <img class="img-circle img-responsive" src="app/views/img/howto/getvalidated.png" alt="">
                        </i>
                    </span>
                <h4 class="service-heading">Get Interviewed</h4>
                <p class="text-muted">Get a real interview experience from seasoned interview experts and industry veterans from your preferred organizations.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse">
                            <img class="img-circle img-responsive" src="app/views/img/howto/gethired.png" alt="">
                        </i>
                    </span>
                <h4 class="service-heading">Get Hired</h4>
                <p class="text-muted">Get your profiles submitted to the organizations of your choice and improve your chances of getting hired.</p>
            </div>
        </div>
    </div>
</section>

<!-- How To Section -->
<section id="howto" ng-if="!main.loggedIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How to get validated</h2>
                <h3 class="section-subheading text-muted">Start with a mock interview and finish with a job interview!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="app/views/img/howto/minterview_register.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>2009-2011</h4> -->
                                <h4 class="subheading">Register with minterview.me</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Submit your contact information, upload your resume and complete registration.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="app/views/img/howto/minterview_appointment.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>March 2011</h4> -->
                                <h4 class="subheading">Fix an appointment</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our team will contact you to fix an appointment for you with an interview expert. You can submit your preferred type of interview - technical or HR. Payment information will be mailed to you. Complete the payment to confirm your appointment.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="app/views/img/howto/minterview_attend.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>December 2012</h4> -->
                                <h4 class="subheading">Attend the mock interview</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Follow the details on the appointment email to start your interview as per the confirmed schedule. Get a real life interview experience from a leading industry expert. Get skills, profile and candidature validated.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="app/views/img/howto/minterview_feedback.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <!-- <h4>July 2014</h4> -->
                                <h4 class="subheading">Get feedback and guidance</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Receive feedback on your interview performance from the expert - oral and through email. Get professional guidance from the expert to better your performance in actual interviews.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Get<br/>hired<br/>soon!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <h4>Marketplace</h4>
                <ul class="nav">
                    <li><a href="#jobseekers">Jobseekers</a></li>
                    <li><a href="#interviewers">Interviewers</a></li>
                    <li><a href="#recruiters">Recruiters</a></li>
                    <!-- <li><a href="elements.html">Developers</a></li> -->
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>mInterview</h4>
                <ul class="nav">
                    <li><a href="/index">About Us</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><a href="mailto:minterviewme@gmail.com">Email</a></li>
                    <li><a href="#">Call</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/termsandconditions">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Follow Us</h4>
                <ul class="nav">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <!-- <li><a href="#">Pinterest</a></li> -->
                </ul>
            </div>
        </div>
        <!--/row-->
        <p>Copyright &copy; mInterview 2015</p>
    </div>
</footer>
