<div class="container" ng-controller="UserCreateController as user">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1> Sign up!</h1>
            <form method="post" ng-submit="user.signupUser()" enctype="multipart/form-data">
                <div class="form-group"><label>First Name</label> <input type="text" name="firstname" ng-model="user.userData.firstname" class="form-control"></div>
                <div class="form-group"><label>Last Name</label> <input type="text" name="name" ng-model="user.userData.lastname" class="form-control"></div>
                <div class="form-group"><label>Phone Number</label><input type="text" name="phone" ng-model="user.userData.phone" class="form-control"></div>
                <div class="form-group"><label>Email</label><input type="email" name="emailid" ng-model="user.userData.emailid" class="form-control"></div>
                <div class="form-group"><label>Password</label><span><input type="password" name="pswd" id="pswd" ng-model="user.userData.password" class="form-control"></span></div>
                <div class="form-group"><label>Upload Resume</label><input type="file" id="userFileInput" name="userFile"/></div>
                <button type="submit" class="btn btn-danger">Signup</button>
            </form>
        </div>
    </div>
</div>

